<div class="m-2 rounded-md <%= @colors[:background] %> border <%= @colors[:border] %> p-4">
  <div class="flex max-w-5xl mx-auto">
    <div class="text-sm <%= @colors[:text] %> text-center">
      <p>
       <%= @message %>
      </p>
    </div>
  </div>
</div>
